h3 {
	margin-bottom: 30px;
}
hr {
	border-color: #999;
}
.jumbotron{
	width: 600px;
	text-align: center;
	margin-top: 20px;
	margin-left: auto; 
	margin-right: auto;
}

.jumbotron-personal .jumbotron{
	width: 90%;
	height: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	margin-top: 5%;
}

.table{
	margin-top:20px;
}

.form-control{
	margin-bottom: 5px;
}

.selecionado{
	background-color:yellow;
}