<html ng-app="listaTelefonica">
	<head>
		<meta charset="utf-8"/>
		<title>Lista telefônica</title>
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css"></link>		
		<style>
			.jumbotron{
				width: 400px;
				text-align: center;
				margin-top: 20px;
				margin-left: auto; 
				margin-right: auto;
			}
			
			.table{
				margin-top:20px;
			}
			
			.form-control{
				margin-bottom: 5px;
			}
			
			.selecionado{
				background-color:yellow;
			}
		</style>		
		<script src="lib/angular/angular.js"></script>
		<script>
			angular.module("listaTelefonica", []);
			
			angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
				$scope.app = "Lista Telefônica";
				$scope.contatos = [
					{nome: "Pedro", telefone: "9681-9160", cor: "blue"},
					{nome: "Ana", telefone: "9681-9160", cor:"yellow"},
					{nome: "Maria", telefone: "9681-9160", cor:"purple"}
				];
				
				$scope.operadoras = [
					{nome: "Vivo", codigo: "15", categoria: "Celular"},
					{nome: "Oi", codigo: "14", categoria: "Celular"},
					{nome: "Tim", codigo: "41", categoria: "Celular"},
					{nome: "GVT", codigo: "25", categoria: "Fixo"},					
					{nome: "Embratel", codigo: "21", categoria: "Fixo"}
				];
				
				$scope.adicionarContato = function(contato){
					$scope.contatos.push(contato);
					delete $scope.contato;					
					//tb pode ser usado angular.copy(contato) que cria uma cópia de "contato"
				};
				
				$scope.apagarContatos = function(contatos){
					$scope.contatos = contatos.filter(function(contato){
						if(!contato.selecionado)
							return contato;
					});					
				};				
				
				$scope.isContatoSelecionado = function(contatos){
					return contatos.some(function(contato){
						return contato.selecionado;
					});					
				};
			});
		</script>
	</head>
	<body ng-controller="listaTelefonicaCtrl">
		<div class="jumbotron">
			<h3 ng-bind="app"></h3>
			
			<table class="table" ng-show="contatos.length > 0">
				<tr>
					<th></th>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Operadora</th>
					<th></th>
				</tr>
				<tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos">
					<td><input type="checkbox" ng-model="contato.selecionado"/></td>
					<td>{{contato.nome}}</td>
					<td>{{contato.telefone}}</td>					
					<td>{{contato.operadora.nome}}</td>
					<td><div style="width: 20px; height: 20px;" ng-style="{'background-color':contato.cor}"></div></td>
				</tr>
			</table>
			<hr/>
			<input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome" ng-required="true"/> 
			<input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone">
			<select class="form-control" ng-model="contato.operadora" ng-options="op.nome group by op.categoria for op in operadoras">
				<option value="">Selecione uma operadora</option>
			</select>
			
			<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar contato</button>			
			<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar contatos</button>
		</div>
		<div ng-include="'footer.html'"></div>	
	</body>
</html>