<html ng-app="listaTelefonica">
<head>
	<meta charset="utf-8"/>
	<title>Lista telefônica</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css"></link>		
	<style>
		h3 {
			margin-bottom: 30px;
		}
		hr {
			border-color: #999;
		}
		.jumbotron{
			width: 600px;
			text-align: center;
			margin-top: 20px;
			margin-left: auto; 
			margin-right: auto;
		}
		
		.table{
			margin-top:20px;
		}
		
		.form-control{
			margin-bottom: 5px;
		}
		
		.selecionado{
			background-color:yellow;
		}
	</style>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-messages.js"></script>
	<script src="lib/angular/angular-locale_pt-br.js"></script>
	<script>
		angular.module("listaTelefonica", ["ngMessages"]);
		
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope, $filter){
			$scope.app = "Lista Telefônica";
			$scope.contatos = [
				{nome: $filter('uppercase')("Pedro"), telefone: "9681-9160", data: new Date(), cor: "blue"},
				{nome: "Ana", telefone: "8055-8000", data: new Date(), cor:"yellow"},
				{nome: "Maria", telefone: "7000-8888", data: new Date(), cor:"purple"}
			];
			
			$scope.operadoras = [
				{nome: "Vivo", codigo: "15", categoria: "Celular", preco: 1},
				{nome: "Oi", codigo: "14", categoria: "Celular", preco: 0.11},
				{nome: "Tim", codigo: "41", categoria: "Celular", preco: 2},
				{nome: "Claro", codigo: "21", categoria: "Celular", preco: 2},
				{nome: "GVT", codigo: "25", categoria: "Fixo", preco: 3},					
				{nome: "Embratel", codigo: "21", categoria: "Fixo", preco: 2.50}
			];
			
			$scope.adicionarContato = function(contato){
				$scope.contatos.push(contato);
				delete $scope.contato;
				$scope.contatoForm.$setPristine();
				//tb pode ser usado angular.copy(contato) que cria uma cópia de "contato"
			};
			
			$scope.apagarContatos = function(contatos){
				$scope.contatos = contatos.filter(function(contato){
					if(!contato.selecionado)
						return contato;
				});					
			};				
			
			$scope.isContatoSelecionado = function(contatos){
				return contatos.some(function(contato){
					return contato.selecionado;
				});					
			};
			
			$scope.ordenarPor = function(campo){
				$scope.criterioOrdenacao = campo;
				$scope.direcaoOrdenacao = !$scope.direcaoOrdenacao;
			};
		});
	</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h3 ng-bind="app"></h3>
		<input class="form-control" type="text" ng-model="busca" placeholder="O que você procura?"/>		
		<table class="table" ng-show="contatos.length > 0">
			<tr>
				<th></th>
				<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
				<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
				<th>Operadora</th>
				<th>Data</th>
				<th></th>
			</tr>
			<tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter:{nome: busca} | orderBy:criterioOrdenacao:direcaoOrdenacao">
				<td><input type="checkbox" ng-model="contato.selecionado"/></td>
				<td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>					
				<td>{{contato.operadora.nome}}</td>
				<td>{{contato.data | date:'dd/MMM HH:mm'}}</td>
				<td><div style="width: 20px; height: 20px;" ng-style="{'background-color':contato.cor}"></div></td>
			</tr>
		</table>		
		<hr/>
		<form name="contatoForm">
			<input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10"/> 
			<input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
			<select class="form-control" ng-model="contato.operadora" ng-options="op.nome + ' (' + (op.preco | currency) + ')' group by op.categoria for op in operadoras | orderBy:'nome'">
				<option value="">Selecione uma operadora</option>
			</select>
		</form>
		<div class="alert alert-danger" ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error">
			<div ng-message="required">
				Preencha o nome
			</div>
			<div ng-message="minlength">
				O campo nome precisa ter, no mínimo, 10 caracteres
			</div>
		</div>
		<div class="alert alert-danger" ng-show="contatoForm.telefone.$dirty" ng-messages="contatoForm.telefone.$error">				
			<div ng-message="required">
				Preecha o telefone
			</div>
			<div ng-message="pattern">
				O campo telefone deve ter o formato XDDDD-DDDD
			</div>
		</div>
		<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar contato</button>			
		<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar contatos</button>
	</div>
	<div ng-include="'footer.html'"></div>
</body>
</html>